<html>
    <head>
        <meta charset="utf-8">
        <title>Address Book</title>
    </head>
    <body>
        <h1>My Address Book</h1>
        <hr>
        <h3>You added a new contact!</h3>
        {% set contact = contacts|last %}
        <ul>
            <li>Name: {{ contact.getName }}</li>
            <li>Phone: {{ contact.getPhone }}</li>
            <li>Address: {{ contact.getAddress }}</li>
        </ul>
        <hr>
        <a href="/">Back To Address Book</a>
    </body>
</html>
