<html>
    <head>
        <title>Address Book</title>
    </head>
    <body>
        <h1>My Address Book</h1>
        <hr>
        <h3>Add a Contact</h3>
        <form action="/form_submit" method="post">
            <div>
                <label for="input-name">Name:</label>
                <input id="input-name" type="text" name="input-name">
            </div>
            <div>
                <label for="input-phone">Phone Number:</label>
                <input id="input-phone" type="text" name="input-phone">
            </div>
            <div>
                <label for="input-address">Address:</label>
                <input id="input-address" type="text" name="input-address">
            </div>
            <button type="submit" name="submit">Add</button>
        </form>
        {% if contacts is not empty %}
        <hr>
        <h3>My Contacts</h3>
        <ol>
            {% for contact in contacts %}
                <li>
                    <ul>
                        <li>Name: {{ contact.name }}</li>
                        <li>Phone: {{ contact.phone }}</li>
                        <li>Address: {{ contact.address }}</li>
                    </ul>
                </li>
            {% endfor %}
        </ol>
        <hr>
        <form action="/clear_list">
            <button type="submit">Clear all Contacts</button>
        </form>
        {% endif %}
    </body>
</html>
